@model List<IndexViewModel>

@{
    var title = "Заказы";
    ViewData["title"] = title;
}

<h2>@title</h2>

@foreach (var order in Model)
{
    <div>
        <h3>Заказ № @order.OrderNumber</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Название продукта</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in order.OrderItems)
                {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Count</td>
                        <td>@item.Product.Price</td>
                        <td>@(item.Product.Price * item.Count)</td>
                    </tr>
                }

            </tbody>
        </table>
        <h3>Сумма заказа: @order.OrderSum</h3>
    </div>
    <hr />
    <hr />
}

